
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Home Section -->
<section class="home-section bg-dark-alfa-90 parallax-2" data-background="/pusula/images/full-width-images/section-bg-4.jpg" id="home">
    <div class="js-height-full">

        <!-- Hero Content -->
        <div class="home-content container">
            <div class="home-text">

                <h1 class="hs-line-8 font-alt mb-50 mb-xs-30">
                    Hayatınıza Doğru Yön Verebilmek Önemli
                </h1>

                <h2 class="hs-line-11 font-alt mb-50 mb-xs-30">
                    Pusula Danışmanlık Hizmetleri
                </h2>

                <div class="local-scroll">
                    <a href="#about" class="btn btn-mod btn-w btn-medium btn-round hidden-xs">Bizi Tanıyın</a>
                    <span class="hidden-xs">&nbsp;</span>
                </div>

            </div>
        </div>
        <!-- End Hero Content -->
        <!-- Scroll Down -->
        <div class="local-scroll">
            <a href="#about" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i><span class="sr-only">Scroll to the next section</span></a>
        </div>
        <!-- End Scroll Down -->

    </div>
</section>
<!-- End Home Section -->
<!-- About Section -->
<section class="page-section" id="about">
    <div class="container relative">

        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            KISaCa KENDİMİZDEN BaHSEDERSEK

            <a href="#" class="section-more right">Daha Fazlası İçin <i class="fa fa-angle-right"></i></a>

        </h2>

        <div class="section-text">
            <div class="row">

                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.
                </div>

                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet, iaculis libero. Donec vel ultricies purus. Nam dictum sem, eu aliquam.
                </div>

            </div>
        </div>

    </div>
</section>
<!-- End About Section -->
<!-- Divider -->
<hr class="mt-0 mb-0 " />
<!-- End Divider -->
<!-- Services Section -->
<section class="page-section" id="services">
    <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">
            HİZMETLERİMİZ
        </h2>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
            <li class="active">
                <a href="#service-branding" data-toggle="tab">

                    <div class="alt-tabs-icon">
                        <span class="icon-strategy"></span>
                    </div>

                    Marka Danışmanlığı
                </a>
            </li>
            <li>
                <a href="#service-web-design" data-toggle="tab">

                    <div class="alt-tabs-icon">
                        <span class="icon-desktop"></span>
                    </div>

                    WEB ÇÖZÜMLERİ
                </a>
            </li>
            <li>
                <a href="#service-graphic" data-toggle="tab">

                    <div class="alt-tabs-icon">
                        <span class="icon-tools"></span>
                    </div>

                    Marka DİZaYNI
                </a>
            </li>
            <li>
                <a href="#service-development" data-toggle="tab">

                    <div class="alt-tabs-icon">
                        <span class="icon-gears"></span>
                    </div>

                    GELİŞTİRME
                </a>
            </li>
            <li>
                <a href="#service-photography" data-toggle="tab">

                    <div class="alt-tabs-icon">
                        <span class="icon-camera"></span>
                    </div>

                    Medya YÖNETİMİ
                </a>
            </li>
        </ul>
        <!-- End Nav tabs -->
        <!-- Tab panes -->
        <div class="tab-content tpl-tabs-cont">

            <!-- Service Item -->
            <div class="tab-pane fade in active" id="service-branding">

                <div class="section-text">
                    <div class="row">
                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <blockquote class="mb-0">
                                <p>
                                    A&nbsp;brand for a&nbsp;company is&nbsp;like a&nbsp;reputation
                                    for a&nbsp;person. You earn reputation by&nbsp;trying to&nbsp;do&nbsp;hard
                                    things well.
                                </p>
                                <footer>
                                    Jeff Bezos
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                            volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                            In maximus ligula metus pellentesque mattis.
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus.
                            Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus.
                            Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Service Item -->
            <!-- Service Item -->
            <div class="tab-pane fade" id="service-web-design">

                <div class="section-text">
                    <div class="row">
                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <blockquote class="mb-0">
                                <p>
                                    It&nbsp;doesn&rsquo;t matter how many times&nbsp;I have to&nbsp;click, as&nbsp;long
                                    as&nbsp;each click is&nbsp;a&nbsp;mindless, unambiguous choice.
                                </p>
                                <footer>
                                    Steve Krug
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            Cras mi tortor, laoreet id ornare et, accumsan non magna. Maecenas vulputate accumsan velit.
                            Curabitur a nulla ex. Nam a tincidunt ante. Vitae gravida turpis. Vestibulum varius
                            nulla non nulla scelerisque tristique.
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            Mauris id viverra augue, eu porttitor diam. Praesent faucibus est a interdum elementum.
                            Nam varius at ipsum id dignissim. Nam a tincidunt ante lorem. Pellentesque suscipit ante
                            at ullamcorper pulvinar neque porttitor.
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Service Item -->
            <!-- Service Item -->
            <div class="tab-pane fade" id="service-graphic">

                <div class="section-text">
                    <div class="row">
                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <blockquote class="mb-0">
                                <p>
                                    Never fall in&nbsp;love with an&nbsp;idea. They&rsquo;re whores. If&nbsp;the one you&rsquo;re with isn&rsquo;t doing the job, there&rsquo;s always another.
                                </p>
                                <footer>
                                    Chip Kidd
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. In maximus ligula metus pellentesque
                            mattis. Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Praesent sed nisi eleifend,
                            fermentum orci amet, iaculis libero.
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">

                            Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Etiam sit amet
                            fringilla lacus. Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id&nbsp;dolor
                            consectetur fermentum volutpat nibh, accumsan purus.
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Service Item -->
            <!-- Service Item -->
            <div class="tab-pane fade" id="service-development">

                <div class="section-text">
                    <div class="row">
                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <blockquote class="mb-0">
                                <p>
                                    All that is&nbsp;valuable in&nbsp;human society depends upon the opportunity for development accorded the individual.
                                </p>
                                <footer>
                                    Albert Einstein
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            Fusce hendrerit vitae nunc id gravida. Donec euismod quis ante at mattis. Mauris dictum ante sit
                            amet enim interdum semper. Vestibulum odio justo, faucibus et dictum eu, malesuada nec neque.
                            Maecenas  volutpat, diam enim sagittis.
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Sed id dolor consectetur fermentum
                            volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                            Inmed maximus ligula metus pellentesque.
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Service Item -->
            <!-- Service Item -->
            <div class="tab-pane fade" id="service-photography">

                <div class="section-text">
                    <div class="row">
                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <blockquote class="mb-0">
                                <p>
                                    Photography is&nbsp;the simplest thing in&nbsp;the world, but it&nbsp;is&nbsp;incredibly
                                    complicated to&nbsp;make it&nbsp;really work.
                                </p>
                                <footer>
                                    Martin Parr
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus.
                            Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus.
                            Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                            volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                            In maximus ligula metus pellentesque mattis.
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Service Item -->

        </div>
        <!-- End Tab panes -->

        <div class="align-center">
            <a href="#" class="section-more font-alt">TÜM HİZMETLERİMİZİ GÖRÜNTÜLEYİN <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
</section>
<!-- End Services Section -->
<!-- Section -->
<section class="page-section bg-dark-alfa-70 bg-scroll" data-background="/pusula/images/full-width-images/section-bg-16.jpg">
    <div class="container relative">

        <!-- Features Grid -->
        <div class="item-carousel owl-carousel">

            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <span class=" icon-hotairballoon"></span>
                </div>
                <div class="features-title font-alt">
                    We're Creative
                </div>
                <div class="features-descr">
                    We find the best ideas for you
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <span class="icon-clock"></span>
                </div>
                <div class="features-title font-alt">
                    We’re Punctual
                </div>
                <div class="features-descr">
                    We always do your tasks on time
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <span class="icon-lightbulb"></span>
                </div>
                <div class="features-title font-alt">
                    We have magic
                </div>
                <div class="features-descr">
                    You will be delighted
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <span class="icon-wine"></span>
                </div>
                <div class="features-title font-alt">
                    We're Creative
                </div>
                <div class="features-descr">
                    We find the best ideas for you
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <span class="icon-tools"></span>
                </div>
                <div class="features-title font-alt">
                    We’re Punctual
                </div>
                <div class="features-descr">
                    We always do your tasks on time
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <span class="icon-gears"></span>
                </div>
                <div class="features-title font-alt">
                    We have magic
                </div>
                <div class="features-descr">
                    You will be delighted
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <span class="icon-browser"></span>
                </div>
                <div class="features-title font-alt">
                    We're Creative
                </div>
                <div class="features-descr">
                    We find the best ideas for you
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <span class="icon-wallet"></span>
                </div>
                <div class="features-title font-alt">
                    We’re Punctual
                </div>
                <div class="features-descr">
                    We always do your tasks on time
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="features-item">
                <div class="features-icon">
                    <span class="icon-document"></span>
                </div>
                <div class="features-title font-alt">
                    We have magic
                </div>
                <div class="features-descr">
                    You will be delighted
                </div>
            </div>
            <!-- End Features Item -->

        </div>
        <!-- Features Grid -->

    </div>
</section>
<!-- End Section -->
<!-- Process Section -->
<section class="page-section">
    <div class="container relative">

        <!-- Features Grid -->
        <div class="row alt-features-grid">

            <!-- Text Item -->
            <div class="col-sm-3">
                <div class="alt-features-item align-center">
                    <div class="alt-features-descr align-left">
                        <h4 class="mt-0 font-alt">Work process</h4>
                        Lorem ipsum dolor sit amet, c-r adipiscing elit.
                        In maximus ligula semper metus pellentesque mattis.
                        Maecenas  volutpat, diam enim.
                    </div>
                </div>
            </div>
            <!-- End Text Item -->
            <!-- Features Item -->
            <div class="col-sm-3">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-chat"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">1. Discuss</h3>
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="col-sm-3">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-browser"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">2. Make</h3>
                </div>
            </div>
            <!-- End Features Item -->
            <!-- Features Item -->
            <div class="col-sm-3">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-heart"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">3. Product</h3>
                </div>
            </div>
            <!-- End Features Item -->

        </div>
        <!-- End Features Grid -->

    </div>
</section>
<!-- End Process Section -->
<!-- Divider -->
<hr class="mt-0 mb-0" />
<!-- End Divider -->

<!-- Call Action Section -->
<section class="small-section bg-dark">
    <div class="container relative">

        <div class="align-center">
            <h3 class="banner-heading font-alt">Want to discuss your new project?</h3>
            <div>
                <a href="#" class="btn btn-mod btn-w btn-medium btn-round">Lets tallk</a>
            </div>
        </div>

    </div>
</section>
<!-- End Call Action Section -->